<div>
  <md-toolbar style="background-color: white;">
    <h4 style="width: 100%; text-align: center; font-family: 'Prompt', sans-serif;margin-left: 35px;">สถิติ</h4>
    <i routerLink="/home" class="material-icons txt-light-blue" style="font-size: 30px;">highlight_off</i>
  </md-toolbar>
  <div class="content-container paddingLeftRight20">
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
    </div>
  </div>
</div>
