<div>
  <md-toolbar style="background-color: white;">
    <h4 style="width: 100%; text-align: center; font-family: 'Prompt', sans-serif;margin-left: 35px;">Reset
      Password</h4>
    <i routerLink="/home" class="material-icons txt-light-blue" style="font-size: 30px;">highlight_off</i>
  </md-toolbar>
  <div class="content-container paddingLeftRight20">
    <form #formData='ngForm' (ngSubmit)="onSubmitEmail()">
      <p>กรุณาใส่อีเมล์ของคุณที่ใช้ในการสมัครสมาชิก</p>
      <md-input-container class="width100Percent">
        <input mdInput name="email" [(ngModel)]="inputEmail" type="email" placeholder="EMAIL" required>
      </md-input-container>
      <button md-raised-button type="submit" id="btnSubmit">Submit</button>
    </form>
  </div>
</div>
