<div style="margin-top: 30px"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <a class="btn btn-block btn-social btn-facebook btn-lg" (click)="loginFB()">
        <span class="fa fa-facebook"></span> Sign in with Facebook
      </a>
    </div>
  </div>
  <div class="spaceBetweenRow"></div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <a class="btn btn-block btn-social btn-google btn-lg">
        <span class="fa fa-google"></span> Sign in with Google
      </a>
    </div>
  </div>
  <div class="spaceBetweenRow"></div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <a class="btn btn-block btn-social btn-github btn-lg">
        <span class="fa fa-github"></span> Sign in with GitHub
      </a>
    </div>
  </div>
  <div class="spaceBetweenRow"></div>
  <div class="row">
    <div class="col-md-3 col-md-offset-3">
      <a class="btn btn-block btn-social btn-twitter btn-lg">
        <span class="fa fa-twitter"></span> Sign in with Twitter
      </a>
    </div>
  </div>
</div>

