<div>
  <md-toolbar style="background-color: white;">
    <div>
      <img src="../../assets/images/user.ico" alt="User icon" style="width: 35px; vertical-align: middle;">
    </div>
    <h4 style="width: 100%; text-align: center; font-family: 'Prompt', sans-serif;">รายการ</h4>
    <i routerLink="/home" class="material-icons txt-light-blue" style="font-size: 30px;">highlight_off</i>
  </md-toolbar>
  <div class="txt-center">
    <i class="material-icons txt-middle txt-light-blue">navigate_before</i>
    <p class="inline-block" style="font-size: 20px; font-weight: 500;">มิถุนายน 2560</p>
    <i class="material-icons txt-middle txt-light-blue">navigate_next</i>
  </div>
  <div>
    <p class="txt-center bg-light-blue" style="margin: 0; padding: 5px 0; color: white;">วันศุกร์ ที่ 23 มิถุนายน 2560</p>
    <div>
      <md-list style="padding: 0;">
        <md-list-item class="border-bottom-light-grey">
          <p class="txt-income" style="width: 100%;">
            <span>เงินเดือน</span>
            <span style="float: right;">+ 20,000</span>
          </p>
        </md-list-item>
        <md-list-item class="border-bottom-light-grey">
          <p class="txt-expense" style="width: 100%;">
            <span>ค่างวดรถ</span>
            <span style="float: right;">- 8,000</span>
          </p>
        </md-list-item>
        <md-list-item class="border-bottom-light-grey">
          <p class="txt-expense" style="width: 100%;">
            <span>ค่าเช่าบ้าน</span>
            <span style="float: right;">- 4,000</span>
          </p>
        </md-list-item>
        <md-list-item class="border-bottom-light-grey">
          <p class="txt-expense" style="width: 100%;">
            <span>ค่าดูหนัง</span>
            <span style="float: right;">- 200</span>
          </p>
        </md-list-item>
        <md-list-item class="border-bottom-light-grey">
          <p class="txt-expense" style="width: 100%;">
            <span>MK</span>
            <span style="float: right;">- 900</span>
          </p>
        </md-list-item>
        <md-list-item class="border-bottom-light-grey">
          <p class="txt-income" style="width: 100%;">
            <span>งานฟรีแลนซ์</span>
            <span style="float: right;">+ 3,000</span>
          </p>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
