<div>
  <md-toolbar style="background-color: white;">
    <div>
      <img src="../../assets/images/user.ico" alt="User icon" style="width: 35px; vertical-align: middle;">
    </div>
    <h4 style="width: 100%; text-align: center; font-family: 'Prompt', sans-serif;">รายการ</h4>
    <i class="material-icons txt-light-blue" style="font-size: 30px;">highlight_off</i>
  </md-toolbar>
  <div class="txt-center">
    <i class="material-icons txt-middle txt-light-blue">navigate_before</i>
    <p class="inline-block" style="font-size: 20px; font-weight: 500;">มิถุนายน 2560</p>
    <i class="material-icons txt-middle txt-light-blue">navigate_next</i>
  </div>

</div>
