<form #formData='ngForm' (ngSubmit)="emailLogin()">
  <div class="login-bg" style="padding: 10px;">
    <div class="content-container" style="margin-top: 15px;">
      <div style="padding-left: 15px;">
        <img src="../../assets/images/logo-png.png" alt="logo"
             style="max-width: 30%; max-height: 150px; display: block; margin: 0 auto;">
      </div>
      <p class="txtCenter txt-white" style="font-size: 25px; margin: 5px 0; font-weight: 200;">GUUSAVE</p>
    </div>
    <div class="content-container paddingLeftRight20">
      <md-input-container class="width100Percent">
        <input mdInput placeholder="EMAIL" type="email" [(ngModel)]="email" name="email">
      </md-input-container>
      <md-input-container class="width100Percent">
        <input mdInput placeholder="PASSWORD" type="password" [(ngModel)]="password" name="password">
      </md-input-container>
      <a href="#"><p class="txt14px" style="text-align: right; margin-top: 0;">FORGOT?</p></a>
    </div>
    <div class="content-container paddingTopBottom10 paddingLeftRight20">
      <button md-raised-button class="txt14px width100Percent" style="color: #29ABE2;" type="submit">LOG IN</button>
      <p class="txtCenter txt14px txt-white">OR</p>
      <button class="width100Percent loginBtn loginBtn--facebook" (click)="facebookLogin()" type="button">
        <img src="../../assets/images/fb-icon.png" alt="google plus icon" style="width: 25px; vertical-align: middle;">
        Login with Facebook
      </button>
      <button class="width100Percent loginBtn loginBtn--google" (click)="googleLogin()" type="button">
        <img src="../../assets/images/gPlus-icon.png" alt="google plus icon"
             style="width: 25px; vertical-align: middle;">
        Login with Google
      </button>
      <!--<div (click)="googleLogin()">-->
      <!--<img src="../../assets/images/gPlus-btn.png" alt="sign in with google plus" style="max-width: 100%;">-->
      <!--</div>-->
    </div>
    <div routerLink="/sign-up" class="width100Percent"
         style="position: absolute; bottom: 0; left: 0; height: 60px; background-color: rgba(255, 255, 255, 0.24);">
      <p class="txtCenter txt-white">Don't have an account? <b>SIGN UP!</b></p>
    </div>
  </div>
</form>
