<form #formData='ngForm' (ngSubmit)="emailLogin()">
  <div class="login-bg" style="padding: 10px;">
    <div class="content-container" style="margin-top: 20px;">
      <div style="padding-left: 15px;">
        <img src="../../assets/images/icons/icon-167x167.png"
             srcset="../../assets/images/icons/icon-41x41.png 1x,
                     ../../assets/images/icons/icon-84x84.png 2x,
                     ../../assets/images/icons/icon-126x126.png 3x,
                     ../../assets/images/icons/icon-167x167.png 4x"
             alt="logo"
             style="width: 30%; min-width: 90px; max-height: 150px; display: block; margin: 0 auto;">
      </div>
      <p class="txt-center txt-white" style="font-size: 25px; margin: 5px 0; font-weight: 200;">GUUSAVE</p>
    </div>
    <div class="content-container paddingLeftRight20">
      <md-input-container class="width100Percent">
        <input mdInput placeholder="EMAIL" type="email" [(ngModel)]="email" name="email">
      </md-input-container>
      <md-input-container class="width100Percent">
        <input mdInput placeholder="PASSWORD" type="password" [(ngModel)]="password" name="password">
      </md-input-container>
      <div>
        <a routerLink="/sign-up"><p class="inline-block txt14px" style="text-align: right; margin-top: 0;">SIGN UP</p>
        </a>
        <a href="#"><p class="inline-block txt14px" style="text-align: right; margin-top: 0; float: right;">FORGOT ?</p>
        </a>
      </div>
    </div>
    <div class="content-container paddingTopBottom10 paddingLeftRight20">
      <button md-raised-button class="txt14px width100Percent" style="color: #29ABE2;" type="submit">LOG IN</button>
      <p class="txt-center txt14px txt-white">OR</p>
      <button class="width100Percent loginBtn loginBtn--facebook" (click)="facebookLogin()" type="button">
        <img src="../../assets/images/icons/fb-25x25.png" alt="google plus icon"
             style="width: 25px; vertical-align: middle;  margin-left: -40px;">
        Login with Facebook
      </button>
      <button class="width100Percent loginBtn loginBtn--google" (click)="googleLogin()" type="button">
        <img src="../../assets/images/icons/g_plus-25x25.png" alt="google plus icon"
             style="width: 25px; vertical-align: middle; margin-left: -40px;">
        Login with Google
      </button>
      <!--<div (click)="googleLogin()">-->
      <!--<img src="../../assets/images/gPlus-btn.png" alt="sign in with google plus" style="max-width: 100%;">-->
      <!--</div>-->
    </div>
    <!-- div routerLink="/sign-up" class="width100Percent"
         style="position: absolute; bottom: 0; left: 0; height: 60px; background-color: rgba(255, 255, 255, 0.24);">
      <p class="txt-center txt-white">Don't have an account? <b>SIGN UP!</b></p>
    </div -->
  </div>
</form>
