<div>
  <md-toolbar style="background-color: white;">
    <h4 style="width: 100%; text-align: center; font-family: 'Prompt', sans-serif;margin-left: 35px;">Reset
      Password</h4>
    <i routerLink="/home" class="material-icons txt-light-blue" style="font-size: 30px;">highlight_off</i>
  </md-toolbar>
  <div class="content-container paddingLeftRight20">
    <div *ngIf="is_send_mail_success;else notSuccess">
      <h3>ส่งอีเมล์สำเร็จ!!!</h3>
      <p>หากอีเมล์ของคุณถูกต้อง รหัสผ่านใหม่จะถูกส่งไปยังอีเมล์ของคุณ</p>
    </div>
    <ng-template #notSuccess>
      <div>
        <h3>ส่งอีเมล์ไม่สำเร็จ!!!</h3>
        <p>อาจเกิดปัญหาบางอย่าง กรุณาลองใหม่ภายหลัง</p>
      </div>
    </ng-template>
  </div>
</div>
