<div>
  <p class="txt-center bg-light-blue" style="margin: 0; padding: 5px 0; color: white;" *ngIf="data.date">วัน{{getMyDay(data.day)}} ที่ {{data.date}} {{getMyMonth(data.month)}} {{data.year+543}}</p>
  <div>
    <md-list style="padding: 0;">
      <md-list-item class="border-bottom-light-grey" *ngFor="let item of data">
        <p class="txt-income" style="width: 100%;" *ngIf="item.type == 0">
          <span>{{item.typeName}}</span>
          <span style="float: right;">+ {{item.amount.toLocaleString()}}</span>
        </p>
        <p class="txt-expense" style="width: 100%;" *ngIf="item.type == 1">
          <span>{{item.typeName}}</span>
          <span style="float: right;">- {{item.amount.toLocaleString()}}</span>
        </p>
      </md-list-item>
    </md-list>
  </div>
</div>
