<div>
  <p class="txt-center bg-light-blue" style="margin: 0; padding: 5px 0; color: white;">วันศุกร์ ที่ 23 มิถุนายน 2560</p>
  <div>
    <md-list style="padding: 0;">
      <md-list-item class="border-bottom-light-grey">
        <p class="txt-income" style="width: 100%;">
          <span>เงินเดือน</span>
          <span style="float: right;">+ 20,000</span>
        </p>
      </md-list-item>
      <md-list-item class="border-bottom-light-grey">
        <p class="txt-expense" style="width: 100%;">
          <span>ค่างวดรถ</span>
          <span style="float: right;">- 8,000</span>
        </p>
      </md-list-item>
      <md-list-item class="border-bottom-light-grey">
        <p class="txt-expense" style="width: 100%;">
          <span>ค่าเช่าบ้าน</span>
          <span style="float: right;">- 4,000</span>
        </p>
      </md-list-item>
      <md-list-item class="border-bottom-light-grey">
        <p class="txt-expense" style="width: 100%;">
          <span>ค่าดูหนัง</span>
          <span style="float: right;">- 200</span>
        </p>
      </md-list-item>
      <md-list-item class="border-bottom-light-grey">
        <p class="txt-expense" style="width: 100%;">
          <span>MK</span>
          <span style="float: right;">- 900</span>
        </p>
      </md-list-item>
      <md-list-item class="border-bottom-light-grey">
        <p class="txt-income" style="width: 100%;">
          <span>งานฟรีแลนซ์</span>
          <span style="float: right;">+ 3,000</span>
        </p>
      </md-list-item>
    </md-list>
  </div>
</div>
