<div class="main-bg" style="height: calc(100vh);">
  <md-toolbar style="background-colot: white;">
    <div>
      <img src="../../assets/images/user.ico" alt="User icon" style="width: 35px; vertical-align: middle;">
    </div>
    <h4 style="width: 100%; text-align: center;">สรุปยอดเงิน</h4>
    <i class="material-icons light-blue-color" style="font-size: 30px;">widgets</i>
  </md-toolbar>
  <div style="padding: 0 20px;">
  </div>
  <div class="container" style="padding: 10px;">
    <button md-raised-button (click)="logout()" color="warn">Logout</button>
  </div>
</div>


